<launch>

  <arg name="input_topic" />
  <arg name="model_name" default="model_gier" />
  <arg name="model_checkpoint" default="lidar_detection" />
    
  <node pkg="nodelet" type="nodelet" ns="perception" name="point_cloud_object_detection" args="standalone lidar_detection/LidarDetection" output="screen">
    <param name="input_topic" value="$(arg input_topic)" />
    <param name="model_name" value="$(arg model_name)" />
    <param name="model_checkpoint" value="$(arg model_checkpoint)" />
    <rosparam command="load" file="$(dirname)/static_params.yml" ns="static_params" />
    <rosparam command="load" file="$(find lidar_detection_cpp)/../models/$(arg model_name)/Config/$(arg model_checkpoint).yml" ns="slikaf" />
  </node>

</launch>
